#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.score{
  font-size: 9rem;
  position: relative;
  top: 200px;
  left: -1300px;
  margin: 0;
}

.points{
  font-size: 20rem;
  position: relative;
  top: 500px;
  left: -1300px;
  margin: 0;
}

.bestScore{
  font-size: 9rem;
  position: relative;
  top: -500px;
  left: 1300px;
  margin: 0;
}

.bestScorePoints{
  font-size: 20rem;
  position: relative;
  top: -130px;
  left: 1300px;
  margin: 0;
} 
.pokegrid {
  display: flex;
  
  align-items: center;
}


.picgrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
 

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}


.title {
  font-size: 8rem;
  position: relative;
  top: 150px;
  left: -3050px;
  line-height: 1.15;
  margin: 0;
}

.instructions {
  font-size: 6rem;
  position: relative;
  top: -150px;
  left: 3550px;
  line-height: 1.15;
  margin: 0;
}